header {
    color: #fff;
    padding: 7px 0;
    background-color: #151515;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

header .header_top_top {
    outline: none;
}

header .header_top_top .header_01 label {
    color: #fff;
    padding: 0px 0 0px;
    font-size: 12px;
}
.sectionFour{
    margin-top: 30px;
    margin-bottom: 18px;
    height: auto;
    width: 100%;
    }
    .sectionWomen{
        background: linear-gradient(90deg, #F0EEEE 0%, rgba(240, 238, 238, 0) 103.21%);
        margin-top: 60px;
    margin-bottom: 0px;
    padding-top:50px;
    padding-bottom:50px;
    height: auto;
    width: 100%;
    }
   .progressBar{
       background-color: #000 !important;
   }
    .slideNavLeft{
        margin-top: 410px !important;
        margin-right: 40px !important;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:10px;
        background: rgba(255, 255, 255, 0.8)
    }
    .slideNavLeftLarge{
        margin-top: 250px !important;
        margin-right: 40px !important;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:10px;
        background: rgba(255, 255, 255, 0.8)
    }
    .slideNavLeftSmall{
        margin-top: 390px !important;
        margin-right: 40px !important;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:10px;
        background: rgba(255, 255, 255, 0.8)
    }
    .slideNavRightSmall{
        margin-right: 40px !important;
        margin-bottom: 40px!important;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:10px;
        background: rgba(255, 255, 255, 0.8)
    }


    .slideNavRightLarge{
        margin-right: 40px !important;
        margin-bottom: 210px!important;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:10px;
        background: rgba(255, 255, 255, 0.8)
    }
    .slideNavRight{
        margin-right: 40px !important;
        margin-bottom: 5px!important;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:10px;
        background: rgba(255, 255, 255, 0.8)
    }
    .sectionMan{
        background: linear-gradient(90deg, #F0EEEE 0%, rgba(240, 238, 238, 0) 103.21%);
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top:50px;

    padding-bottom:50px;
    height: auto;
    width: 100%;
    }
.sectionSecond {
    margin-top: 0px;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
}
.subHeader .header-nav {
    height: 66.6667px;
    top: 40px;
    position: relative;
}

.subHeader .header-nav .header-nav-top {
    background-color: #fff;
}

.subHeader .header-nav-top nav ul li a {
    color: #000;
}
.manImage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: scale(1);
}
.mixedImage{
    width: 100%;
    height: 120%;
    object-fit: cover; 
    transform: scale(1);
}
.coupleImage{
    width: 100%;
    height: 120%;
    object-fit: cover; 
    transform: scale(1);
}
.man-card {
    height: 490px;
    background-color:#FAF6F6;
    
}
.couple-card {
    height: 690px;
    width: 100%;
    background-color:#FAF6F6;
}
.bottom-image img{
    width: 610px;
    height: 550px;
    object-fit: cover;
    object-position: 100% 100%;
    transform: scale(1);
  
    
}
.slideNav{
    position: absolute;
    color: black;
    margin-top: 100px;
}

.dotVertical ul li a{
background-color: #F6F5F5;;
}
.customDark{
    color:#000;
}

.sliderImage {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #DBD7CE;
    border-radius: 20px 20px 0px 0px;
    width: 60%;
    height: 450px;
    margin-left: 120px;
    margin-top:90px;
}
.sliderImageLarge{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #DBD7CE;
    border-radius: 20px 20px 0px 0px;
    width: 50%;
    height: 470px;
    margin-left: 150px;
    margin-top:90px;
}
.textt{
    width: 840px;
    height: 700px;
    object-fit: cover;
    /* offset-block-start: top; */
    transform: scale(1);
}
.slideNavImage{
    width: 100%;
    height: 700px;
    max-height: 900px;
    object-fit: cover;
    /* offset-block-start: top; */
   
}
.slideCoverText {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-size: 73px;
    margin-left: -70px;
    margin-top:-350px;
}
.slideCoverTextLarge{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-size: 73px;
    margin-left: -70px;
    margin-top:-400px;
}

.sectionText{
    width: 450px;
    margin-top:50px;
    font-size: 20px;
}
.slideVerticalText{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    color: #000;
    width: 30px;
    font-size: 23px;
    margin-left: 760px;
    margin-top: -540px;
}
.slideVerticalTextLarge{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    color: #000;
    width: 30px;
    font-size: 23px;
    margin-left: 1060px;
    margin-top: -590px;
}
.uk-divider-custom  {
    background-color:#000 !important;
    height: 4px;
    width: 140px;
    margin-left: 5px;
    margin-top: -25px;
}
.slider-item{
    height: 700px;
   
    margin-top: 50px;
}
.slider-card{
    height:100%;
    width:100%;
    background-color:red;
}
.customCard img{
    border:2px solid #628AAE;
    padding:8px;
    width: 258px;
    height: 330px;
}
.white{
    color:#fff;
}
.mix-card{
    height: 590px;
    width: 437px;
    background-color:#FAF6F6;
}
.womenShirt{
    font-size: 12px;
    color:#5E5E5E;
    font-family: Roboto;
    line-height: 22px
}
.centerClipTitle {
    font-size: 18px;
    text-transform: uppercase;
    font-family: Roboto;
}
.centerClipButtonText {
    font-size: 14px;
   
}
.dividerCustom{
    background-color:#fff !important;
    height: 0.1px;
    width: 83px;
    margin-left:79px;
    margin-top: 5px;
}

.dividerCustomTop{
    background-color:#fff !important;
    height: 0.1px;
    width: 30px;
    margin-left:5px;
    margin-top: 0px;
}
.subHeader {
    top:0px;
}

.slider .test .images li p{
    color: #000;
    margin-top: 0px;
}
.items{
    height: 600px;
}
.itemsRight{
    height: 600px;
}


footer {
    
    text-align: center;
    bottom: 0 !important;
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
}

footer p {
    color: #727C80;
    font-size: 14px;
}

.dot {
    list-style-type: none;
    font-size: 12px;
   
}
.footerTitle .title{
   font-weight: bold;
   color: #000000;
}
.footerTitle{
    margin-top: 65px;
}


.subFooter{
   
    width: 100%;
    bottom: 0px;
    height: 60px;
    background-color: #F6F6F6;
    text-align: center;
    font-size: 12px;
    color: #727C80;
}









